<style>
  #header {
    position: unset;
    background-color: #1c4e7d;
  }
</style>

<!-- start preloader -->
<div class="preloader">
  <div class="sk-folding-cube">
    <div class="sk-cube1 sk-cube"></div>
    <div class="sk-cube2 sk-cube"></div>
    <div class="sk-cube4 sk-cube"></div>
    <div class="sk-cube3 sk-cube"></div>
  </div>
</div>
<!-- end preloader -->

<!-- start wpo-blog-single-section -->
<section class="wpo-blog-single-section section-padding">
  x`
  <div class="container">
    <div class="row">
      <div class="col col-md-8">
        <div class="wpo-wpo-blog-content clearfix">
          <div class="post">
            <div class="post format-standard-image">
              <div class="entry-media">
                <img src="/uploads/articles/<%= result.image %>" alt />
              </div>
              <ul class="entry-meta">
                <li><%= result.date %></li>
              </ul>
            </div>
            <h2><%= result.title %></h2>
            <p><%= result.description %></p>
          </div>
        </div>
      </div>
      <div class="col col-md-4">
        <div class="wpo-blog-sidebar">
          <div class="widget recent-post-widget">
            <h3>So'nggi maqolalar</h3>
            <div class="posts">
              <% for (let item of articles) { %>
              <div class="post">
                <div class="img-holder">
                  <a href="<%=`/maqola/${item._id}`%>">
                    <img src="/uploads/articles/<%= item.image %>   " alt />
                  </a>
                </div>
                <div class="details">
                  <h4>
                    <a href="<%=`/maqola/${item._id}`%>"><%= item.title %></a>
                  </h4>
                  <span class="date"><%= item.date %></span>
                </div>
              </div>
              <%}%>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- end container -->
</section>
<!-- end wpo-blog-single-section -->
