<style>
  #header {
    position: unset;
    background-color: #1c4e7d;
  }
</style>

<!-- .wpo-breadcumb-area start -->
<div class="wpo-breadcumb-area">
  <div class="container">
    <div class="row">
      <div class="col-12">
        <div class="wpo-breadcumb-wrap">
          <h2>Ma`qolalar</h2>
          <ul>
            <li><a href="/">Bosh sahifa</a></li>
            <li><span>Ma`qolalar</span></li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- .wpo-breadcumb-area end -->

<!-- start wpo-blog-pg-section -->
<section class="wpo-blog-pg-section section-padding">
  <div class="container">
    <div class="row">
      <div class="col col-md-8">
        <div class="wpo-blog-content">
            <% for (let item of articles) { %>
          <div class="post format-standard-image">
            <div class="entry-media">
              <img src="/uploads/articles/<%= item.image %>" alt />
            </div>
            <ul class="entry-meta">
              <li><a href="<%=`/maqola/${item._id}`%>"><%= item.date %></a></li>
            </ul>
            <h3><a href="<%=`/maqola/${item._id}`%>"><%= item.title %>.</a></h3>
            <p class="line-clamp">
                <%= item.description %>
            </p>
            <div class="entry-bottom">
              <a href="<%=`/maqola/${item._id}`%>" class="read-more">View More...</a>
            </div>
          </div>
          <%}%>
        </div>
      </div>
      <div class="col col-md-4">
        <div class="wpo-blog-sidebar">
          <div class="widget search-widget"></div>
          <div class="widget recent-post-widget">
            <h3>So'nggi postlar</h3>
            <div class="posts">
              <% for (let item of articles) { %>
              <div class="post">
                <div class="img-holder">
                  <a href="<%=`/maqola/${item._id}`%>">
                    <img src="/uploads/articles/<%= item.image %>" alt />
                  </a>
                </div>
                <div class="details">
                  <h4>
                    <a href="<%=`/maqola/${item._id}`%>"><%= item.title %>.</a>
                  </h4>
                  <span class="date"><%= item.date %></span>
                </div>
              </div>
              <%}%>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- end container -->
</section>
<!-- end wpo-blog-pg-section -->
